In [1]:
import pandas as pd
a=pd.read_excel('fillmean5.xlsx')
#for x in a.index:
#  if a.loc[x,'company_founded']<1850:
#      a.loc[x,'company_founded']=2000
print(a.to_string())
#a.to_excel('fillmean6.xlsx',inplace=False)

            Unnamed: 0        Unnamed: 1
0                  NaN               NaN
1           Row Labels  Count of company
2            Bengaluru               209
3            Hyderābād                47
4              Gurgaon                37
5                 Pune                35
6               Mumbai                27
7              Chennai                23
8                Noida                17
9               Remote                17
10               Thāne                 7
11          Coimbatore                 6
12               India                 5
13              Mohali                 4
14              Cochin                 4
15              Jaipur                 4
16             Udaipur                 3
17           Ahmedabad                 3
18            Vadodara                 2
19           Panchkula                 2
20       Greater Noida                 2
21          Chandigarh                 2
22            Thrissur                 1
23              Indore                 1
24         Navi Mumbai                 1
25         Gāndhīnagar                 1
26  Thiruvananthapuram                 1
27           Nagercoil                 1
28            Tirupati                 1
29             Belgaum                 1
30           New Delhi                 1
31           Farīdābād                 1
32          Jamshedpur                 1
33         Grand Total               467
34                 NaN               NaN
35                 NaN               NaN
36                 NaN               NaN
37           Bengaluru               209
38           Hyderābād                47
39             Gurgaon                37
40                Pune                35
41              Mumbai                27
42             Chennai                23
43               Noida                17
44              Remote                17
45               Thāne                 7
46          Coimbatore                 6

In [2]:
import pandas as pd
a=pd.read_excel('fillmean5.xlsx')
for x in a.index:
  if a.loc[x,'company_founded']<1850:
      a.loc[x,'company_founded']=2000
print(a.to_string())
#a.to_excel('fillmean6.xlsx',inplace=False)

KeyError: 'company_founded'

In [6]:
import pandas as pd
a = pd.read_excel('fill_mean3.xlsx')
for x in a.index:
    if a.loc[x, 'company_founded']<1850:
       a.loc[x, 'company_founded'] = 2000
print(a.to_string())
a.to_excel('fillmean6.xlsx', index=True)

     Unnamed: 0  Column1                                    company                                                               job_title  company_rating            location  salary_avg_estimate salary_estimate_payperiod             company_size  company_founded                 employment_type                                 industry                                       sector                           revenue  career_opportunities_rating  comp_and_benefits_rating  culture_and_values_rating  senior_management_rating  work_life_balance_rating
0             0        0                                        ABB                                                     Junior Data Analyst             4.0           Bengaluru               325236                /yr (est.)         10000+ Employees             1883                Company - Public                Electronics Manufacturing                                Manufacturing                $10+ billion (USD)                          3.7                       3.6                        4.0                       3.5                       3.9
1             1        6                                     Beinex                                                 Trainee in Data Science             3.9              Cochin               280977                /yr (est.)     201 to 500 Employees             2017               Company - Private  Information Technology Support Services                       Information Technology          Unknown / Non-Applicable                          3.8                       3.6                        3.9                       3.9                       3.5
2             2        8                                     Oracle                                                          Data Scientist             3.8           Bengaluru               709930                /yr (est.)         10000+ Employees             1977                Company - Public  Enterprise Software & Network Solutions                       Information Technology                $10+ billion (USD)                          3.6                       3.5                        3.7                       3.5                       4.0
3             3        9                                    PhonePe                                                          Data Scientist             4.1           Bengaluru              1024695                /yr (est.)  5001 to 10000 Employees             2015               Company - Private                  Internet & Web Services                       Information Technology          Unknown / Non-Applicable                          4.0                       4.2                        4.1                       3.7                       3.8
4             4       11                                   BigShyft                                                          Data Scientist             3.9           Bengaluru              2000000                /yr (est.)        1 to 50 Employees             2018               Company - Private                            HR Consulting                   Human Resources & Staffing        Less than $1 million (USD)                          3.7                       3.8                        3.5                       3.3                       3.1
5             5       12                                     Findem                                     Researcher - Data Operations Intern             4.3              Remote                 9000                /mo (est.)      51 to 200 Employees             2019               Company - Private                  Internet & Web Services                       Information Technology          Unknown / Non-Applicable                          4.2                       4.3                        4.1                       4.2                       4.0
6             6       14                                  News Corp                                                            Data Analyst             3.6           Bengaluru               522206                /yr (est.)         10000+ Employees             2013                Company - Public                               Publishing                        Media & Communication           $5 to $10 billion (USD)                          3.5                       3.4                        3.3                       3.2                       3.5
7             7       15                              Medpace, Inc.                                                     Clinical Data Coder             3.4               Thāne               579224                /yr (est.)  5001 to 10000 Employees             1992                Company - Public                Biotech & Pharmaceuticals               Pharmaceutical & Biotechnology            $2 to $5 billion (USD)                          3.3                       3.0                        3.2                       3.0                       3.2
8             8       17                                  Microsoft                                              Data Annotation Specialist             4.2           Hyderābād               317979                /yr (est.)         10000+ Employees             1975                Company - Public            Computer Hardware Development                       Information Technology                $10+ billion (USD)                          4.0                       4.1                        4.2                       3.8                       4.1
9             9       19                 TVS Supply Chain Solutions                                                     Data Entry Operator             3.4           Bengaluru               255288                /yr (est.)    501 to 1000 Employees             2000               Company - Private                      Shipping & Trucking                   Transportation & Logistics          Unknown / Non-Applicable                          3.2                       2.9                        3.0                       3.0                       3.0
10           10       20                                     Nissan                                                         Data Engineer I             3.9  Thiruvananthapuram               443415                /yr (est.)         10000+ Employees             1933                Company - Public   Transportation Equipment Manufacturing                                Manufacturing            $2 to $5 billion (USD)                          3.6                       3.7                        3.7                       3.5                       3.4
11           11       23                                     MathCo                                                Associate - Data Science             3.5           Bengaluru               876519                /yr (est.)   1001 to 5000 Employees             2016               Company - Private                      Business Consulting                      Management & Consulting          Unknown / Non-Applicable                          3.6                       3.4                        3.6                       3.2                       2.9
12           12       24                                       Amex                                                Analyst - Data Analytics             4.2             Gurgaon               482311                /yr (est.)         10000+ Employees             1850                Company - Public         Financial Transaction Processing                                      Finance                $10+ billion (USD)                          3.8                       4.0                        4.2                       3.8                       4.1
13           13       25                                       KPMG                       Digital Trust S&G-Data Privacy and Ethics Analyst             3.8             Gurgaon               495831                /yr (est.)         10000+ Employees             1987               Company - Private                      Business Consulting                      Management & Consulting            $2 to $5 billion (USD)                          4.0                       3.3                        3.7                       3.5                       3.0
14           14       27                                    Infosys                                                 Healthcare Data Analyst             3.8             Chennai               533713                /yr (est.)         10000+ Employees             1981                Company - Public  Information Technology Support Services                       Information Technology                $10+ billion (USD)                          3.8                       3.0                        4.0                       3.5                       3.7
15           15       30                                      Alcon                                           Data Analyst - Digital Health             3.8           Bengaluru               784161                /yr (est.)         10000+ Employees             1945                Company - Public                Biotech & Pharmaceuticals               Pharmaceutical & Biotechnology           $5 to $10 billion (USD)                          3.4                       3.9                        3.6                       3.3                       3.5
16           16       32                              Deutsche Bank                                                          Data Scientist             4.0                Pune               595940                /yr (est.)         10000+ Employees             1870                Company - Public                        Banking & Lending                                      Finance                $10+ billion (USD)                          3.9                       3.8                        4.1                       3.7                       4.1
17           17       33                                      Wipro                                                            Data Analyst             3.7           Bengaluru               494975                /yr (est.)         10000+ Employees             1945                Company - Public  Information Technology Support Services                       Information Technology           $5 to $10 billion (USD)                          3.6                       3.2                        3.7                       3.3                       3.5
18           18       34                              NatWest Group                                                       Data Analyst, AVP             4.1             Gurgaon               579938                /yr (est.)         10000+ Employees             2000                Company - Public                        Banking & Lending                                      Finance                $10+ billion (USD)                          3.7                       3.5                        4.2                       3.7                       4.3
19           19       36                                    Telstra                                       Data Insights & Analytics Analyst             3.9           Bengaluru              1014936                /yr (est.)         10000+ Employees             1901                Company - Public              Telecommunications Services                           Telecommunications                $10+ billion (USD)                          3.6                       3.7                        3.9                       3.5                       4.2
20           20       39                               BMC Software                                                          Data Scientist             4.1                Pune               712088                /yr (est.)  5001 to 10000 Employees             1980               Company - Private  Enterprise Software & Network Solutions                       Information Technology            $2 to $5 billion (USD)                          3.8                       4.1                        4.1                       3.8                       4.0
21           21       40                             Reliance Games                                                          Data Analytics             3.5                Pune               469012                /yr (est.)      51 to 200 Employees             2000               Company - Private                    Video Game Publishing                        Media & Communication          Unknown / Non-Applicable                          3.8                       3.2                        3.4                       2.9                       3.1
22           22       45                  Intercontinental Exchange                                                          Data Analyst I             3.8           Hyderābād               469042                /yr (est.)  5001 to 10000 Employees             2000                Company - Public                          Stock Exchanges                                      Finance           $5 to $10 billion (USD)                          3.5                       3.7                        3.5                       3.3                       3.6
23           23       46                            Infifresh Foods                                                            Data Analyst             3.6           Bengaluru               948683                /yr (est.)                  Unknown             2019               Company - Private                                  Fishery                                  Agriculture          Unknown / Non-Applicable                          3.5                       3.6                        3.6                       3.2                       3.4
24           24       47                               Coforge Ltd.                                                            DATA ANALYST             3.6       Greater Noida               781721                /yr (est.)         10000+ Employees             2004                Company - Public  Information Technology Support Services                       Information Technology  $500 million to $1 billion (USD)                          3.4                       3.3                        3.5                       3.2                       3.5
25           25       48                              Medpace, Inc.                                                        Data Coordinator             3.4               Thāne               589237                /yr (est.)  5001 to 10000 Employees             1992                Company - Public                Biotech & Pharmaceuticals               Pharmaceutical & Biotechnology            $2 to $5 billion (USD)                          3.3                       3.0                        3.2                       3.0                       3.2
26           26       49                                Valenta BPO                                                            Data Analyst             3.2           Bengaluru               550000                /yr (est.)      51 to 200 Employees             2014               Company - Private                            HR Consulting                   Human Resources & Staffing          Unknown / Non-Applicable                          3.2                       2.7                        3.1                       3.1                       3.6
27           27       50                                    PhonePe                                                     Senior Data Analyst             4.1           Bengaluru               777892                /yr (est.)  5001 to 10000 Employees             2015               Company - Private                  Internet & Web Services                       Information Technology          Unknown / Non-Applicable                          4.0                       4.2                        4.1                       3.7                       3.8
28           28       51                  Tata Consultancy Services                                           Data Science, Python, GraphDB             3.8           Bengaluru               648074                /yr (est.)         10000+ Employees             1968                Company - Public                     Software Development                       Information Technology                $10+ billion (USD)                          3.7                       3.1                        3.9                       3.3                       3.8
29           29       53                  Tata Consultancy Services                                               Employee Data Governance!             3.8           Bengaluru               536656                /yr (est.)         10000+ Employees             1968                Company - Public                     Software Development                       Information Technology                $10+ billion (USD)                          3.7                       3.1                        3.9                       3.3                       3.8
30           30       55                                    Infosys                                                 Data Privacy_Consulting             3.8           Bengaluru               720103                /yr (est.)         10000+ Employees             1981                Company - Public  Information Technology Support Services                       Information Technology                $10+ billion (USD)                          3.8                       3.0                        4.0                       3.5                       3.7
31           31       56                   Tata Technologies Europe                                                 ALM Users - Data Mining             3.8           Bengaluru               789523                /yr (est.)         10000+ Employees             1989               Company - Private                   Research & Development                      Management & Consulting        $100 to $500 million (USD)                          3.6                       3.4                        3.8                       3.4                       3.8
32           32       58                              Medpace, Inc.                                                  Clinical Data Reviewer             3.4               Thāne               648398                /yr (est.)  5001 to 10000 Employees             1992                Company - Public                Biotech & Pharmaceuticals               Pharmaceutical & Biotechnology            $2 to $5 billion (USD)                          3.3                       3.0                        3.2                       3.0                       3.2
33           33       59                                    Sectigo                                                            Data Analyst             3.4             Chennai               636962                /yr (est.)     201 to 500 Employees             2008               Company - Private            Computer Hardware Development                       Information Technology          Unknown / Non-Applicable                          3.0                       2.9                        3.0                       3.0                       3.3
34           34       62                         Wrike Careers Page                                           Customer Support Data Analyst             3.8           Bengaluru               562146                /yr (est.)   1001 to 5000 Employees             2006               Company - Private                     Software Development                       Information Technology          Unknown / Non-Applicable                          3.4                       3.7                        3.9                       3.3                       4.1

PermissionError: [Errno 13] Permission denied: 'fillmean6.xlsx'

In [8]:
d=pd.read_excel('fillmean6.xlsx')
d.to_csv('fillmean7.csv')